.BasketHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
}

.BasketHeader-title{
    color: #000;
}

.Basket-foooter {
    display: flex;
    justify-content: right;
    gap: 30px;
    font-weight: bold;
    padding: 20px 14% 10px 10px;
}

.Basket-foooter-text {
    font-weight: bold;
}