.AuthorizationForm {
    padding-left: 20px;
}

.AuthorizationForm-field{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-bottom: 23px;
}
.AuthorizationForm-error{
    color: #FF0000;
    margin: 0;
    margin-bottom: 23px;
}